
body {
    background-image: linear-gradient(to right, rgba(27, 176, 188, 0.5), rgba(117, 110, 203, 0.5));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0f7fc6;
}
