.App{
  max-width: 1280px;
  margin: 25px auto;
}

nav {
  display: block;
  height:75px;
}
.left {
  float:left;
}

.left li{
  list-style-type: none;
}

.App-header img{
  width:30%;
  height:30%;
  display: block;
}
.App-link {
  color: #61dafb;
}
.right{
  float:right;
}

.Blog h1{
  text-align: center;
}