.App{
  max-width: 1280px;
  margin: 25px auto;
}

nav {
  display: block;
  height:75px;
}

.left {
  float:left;
}

.left li{
  list-style-type: none;
}

.App-header img{
  width:30%;
  height:30%;
  display: block;
}

.searchBar{
  float:right;
}

.blogPage h1{
  text-align: center;
}

.blogs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1280px;
  margin: 25px auto;
}